.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d7dbd6;
    z-index: 100;
    position: relative;
    min-height: 500px;
    overflow-y: hidden;
}
  
.home::before{
    width: 100vw;
    height: 222px;
    background-color: rgb(0, 255, 106);
    position: absolute;
    z-index: -1;
    content: "";
    top:0px;

}
.home-container{
    width: 100%;
    height: 100%;
    max-width: 1366px;
    z-index:100;
    display: flex;
    background-color: rgb(252, 252, 252);
    align-items: center;
    justify-content: center;
    
}

.home-bg{
    margin-top: 5%;
    border-radius: 20px;
    flex: 1;
    background-color: #fafafa;
    z-index: 100;
    height: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;

}

.home-bg>img{
    width: 300px;
    margin: auto;
}