.login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(240,240,240);
    position: relative;
    z-index: 100;
    overflow: hidden;
}


.login::before{
    width: 100vw;
    height: 222px;
    background-color: #4ec0a5;
    position: absolute;
    top: 0;
    content: "";
}


.login-container{
    background-color: #fff;
    width:400px;
    height:400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 3px;
    z-index: 100;
}

.login-logo{
    max-height: 50%;
    max-width: 50%;
}

.login-name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}


.login-btn{
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
    justify-content: center;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #00755a;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}


.login-btn > img{
    width: 20px;
    margin-right:10px;

}

.login-btn:hover{
    background-color: #005541;
}


.login-container > img{
    
    width: 300px;    

}




















